<div class="card-deck">
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://i.ibb.co/W2q5ySq/MOBA-408.png" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Антисуржик</h5>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://i.ibb.co/FB77XGt/Mova-53.png" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Для дітей</h5>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://i.ibb.co/2cbQkys/MOBA-461.png" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Наголос</h5>
      </div>
    </div>
  
    <div class="card mb-4">
        <div class="view overlay">
          <img class="card-img-top" src="https://i.ibb.co/L1Cc01K/Mova-233.png" alt="Card image cap">
          <a [routerLink]='["/card"]'>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Орфографія</h5>
        </div>
      </div>

  </div>

  <div class="card-deck pb-2">
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://i.ibb.co/GQWjj2H/MOBA-400.png" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Пароніми</h5>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://i.ibb.co/CwCp1Dv/MOBA-484.png" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Синоніми</h5>
      </div>
    </div>
      
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://i.ibb.co/mX2LKcV/MOBA-425.png" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Слововживання</h5>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://i.ibb.co/ZfhkFx5/Mova-256.png" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Фразеологізми</h5>
      </div>
    </div>

  </div>