<div class="card-deck">
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Антисуржик</h5>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Для дітей</h5>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Наголос</h5>
      </div>
    </div>
  
    <div class="card mb-4">
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
          <a [routerLink]='["/card"]'>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Орфографія</h5>
        </div>
      </div>

  </div>

  <div class="card-deck pb-2">
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/16.jpg" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Пароніми</h5>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Синоніми</h5>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
        <a [routerLink]='["/card"]'>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title">Фразеологізми</h5>
      </div>
    </div>
  
    <div class="card mb-4">
        <div class="view overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap">
          <a [routerLink]='["/card"]'>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Інше</h5>
        </div>
      </div>

  </div>