<div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/ZSKyCZN/Mova-337.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Діставати, набувати</h3>
          <p class="text-muted">Діставати – здобувати, відшукувати що-небудь, долаючи труднощі: діставати (у значенні роздобути) рідкісну книжку, діставати квитки на закриту виставу.</p>
          <p class="text-muted">Набувати – ставати власником, набирати чого-небудь, здобувати щось (про ознаку, якість): набувати розголосу, набувати форми, набувати ваги. </p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/MggNHCy/Mova-336.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Одержувати, отримувати, здобувати</h3>
          <p class="text-muted">Одержувати й отримувати – брати те, що дають, надсилають, дарують. Ці синонімічні слова вживаються передусім тоді, коли йдеться про конкретний фізичний, матеріальний об'єкт або наслідок фізичних або хімічних процесів.</p>
          <p class="text-muted">Здобувати – діставати, розшукувати, знаходити кого-, що-небудь. Це слово вживається передусім з іменниками абстрактного значення й має відтінок одержання чогось з певною затратою сили, енергії, зусиль.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/Y2PHChs/Mova-100.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Не дивлячись і незважаючи</h3>
          <p class="text-muted">Незважаючи – вживаємо при позначенні предметів, явищ, понять, усупереч яким відбувається дія. Можливі синоніми: попри, дарма що.</p>
          <p class="text-muted">Не дивлячись, не зважаючи – вживаємо, коли говоримо про дію, пов’язану з тим, що людина на когось або на щось не дивиться, не звертає увагу.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/vXjcms2/MOBA-469.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Кортить</h3>
          <p class="text-muted">«Кому кортить, тому й болить» (Матвій Номис); «Кортіло сердешного забалакать до дівчини, та з чого почати?» (Анатолій Свидницький); «От якось-то й одважилось вхопить шматок м'ясця, щоб не кортіло» (Леонід Глібов).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/kDjZ9ZL/MOBA-455.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Запанібрата</h3>
          <p class="text-muted">Приклад уживання: «Ви з мужиками поводитесь запанібрата; мужики до вас ходять в гості, п'ють у вашому домі…» (Іван Нечуй-Левицький).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/TKrKcKF/MOBA-438.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Закапелок</h3>
          <p class="text-muted">Приклад уживання: «Той їх і у хату уведе, і у комору, і на горище, і де є який закапелок — усюди, усім, усе покаже» (Григорій Квітка-Основ'яненко).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/424Y5cG/MOBA-436.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Гайнувати</h3>
          <p class="text-muted">Приклади вживання: «Ти мені глини не гайнуй» (Олександр Ільченко); «Завтра не гайнуй мені дня, а то старий Горенко ще столярським аршином плечі зміряє» (Михайло Стельмах).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/mX2LKcV/MOBA-425.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Мобільний додаток чи застосунок?</h3>
          <p class="text-muted">Англійське app(lication) перекладається як «застосунок», якщо мова йде про мобільну програму. А для ПК можна так і казати — «програма».</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/D5g9xVd/MOBA-426.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Завдаток</h3>
          <p class="text-muted">Приклад уживання: «Панок затявся, що не продасть землі нікому, опріч Семена, бо Семен умовився та дав завдаток» (Михайло Коцюбинський).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/4866j2y/MOBA-422.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Базіка</h3>
          <p class="text-muted">Приклади вживання: «І чого цей базіка все язиком меле?» (Словник Грінченка); «Хома Микитович від природи чоловік неговіркий. І базік не терпить» (Ярослав Гримайло).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/b7sZxDk/MOBA-421.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Цмулити</h3>
          <p class="text-muted">Приклади вживання: «А чорниця п'є — не нап'ється. — Вона, мабуть, вже цілісіньке відерце вицмулила, — кажу, — та все цмулить» (Марко Вовчок); «Хлопці мовчки цмулили калганівку, смалили сигарети» (Юрій Мушкетик).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/dtgNPJg/MOBA-418.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Вервечка</h3>
          <p class="text-muted">Приклади вживання: «І не сам гуляє Василь, а назбирає коло себе цілу вервечку таких, як і сам, школярів, і пішли» (Панас Мирний); «На станційку влетів чорний задимлений паровоз, тягнучи за собою вервечку опецькуватих цистерн» (Павло Загребельний).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/khWGH89/MOBA-414.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Анітелень</h3>
          <p class="text-muted">Приклади вживання: «І всі у ряд поставали, Ніби без'язикі — Анітелень» (Тарас Шевченко); «Тільки перед татарами — анітелень про те, що Настя його наречена» (Зінаїда Тулуб).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/hKzF1DP/MOBA-410.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Руханка</h3>
          <p class="text-muted">Руханка – фізичні вправи, які виконуються з метою оздоровлення організму, зарядка.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/1QGKCgX/Mova-364.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Старий і давній</h3>
          <p class="text-muted">Старий – літній, похилого віку; непридатний для вжитку, занедбаний; несучасний; який передував чомусь.</p>
          <p class="text-muted">Давній – старовинний, який виник або існував у далекому минулому; який існує багато часу. «Давніх друзів забувають, а при горі споминають» (Українське прислів’я).</p>
          <p class="text-muted">Старий друг – це друг похилого віку, той, хто прожив багато років. Давній друг – друг, з яким ви давно товаришуєте.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/yVRpvzz/Mova-361.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Поширювати і розповсюджувати</h3>
          <p class="text-muted">Поширювати — робити відомим для багатьох (про чутки, інформацію тощо); збільшувати сферу впливу, дії. Зазвичай йдеться про абстрактні речі.</p>
          <p class="text-muted">Розповсюджувати — розподіляти по багатьом місцях, продавати чи роздавати багатьом; розносити в різні боки, на велику відстань. Зазвичай мовиться про конкретні предмети.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/PtvCZBR/Mova-312.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Хвилюючий чи зворушливий?</h3>
          <p class="text-muted">Більшість мовознавців, зокрема Олена Курило, Борис Антоненко-Давидович, Юрій Шевельов, Олександр Пономарів, Святослав Караванський, радили й радять уникати активних дієприкметників теперішнього часу, оскільки вони є невластивими українській мові. Це дієприкметники, що закінчуються на -ачий, -ячий, -учий, -ючий (бачачий, спляча, слабнучий, читаючий).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-5 py-5">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/2vTVvLX/MOBA-pic-NEW-01.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Українські назви сузір'їв зодіаку</h3>
          <p class="text-muted">Зверніть увагу: ове́н (р. відм. овна́), теле́ць (а не тілець!), козоріг (р. відм. козорога).</p>
          <p class="text-muted">Мовознавець Олександр Пономарів:</p>
          <p class="text-muted">«У засобах масової інформації вживають перекручену з погляду фонетичних та морфологічних норм української мови назву сузір’я Козоріг. Грецьке найменування Айгокерос складається з коренів слів айга «коза» та керас «ріг». Воно пов’язане з рогом кози Амальтеї, яка, за давньогрецькими переказами, вигодувала своїм молоком батька всіх богів та людей Зевса. Нормативна українська назва Козоріг.</p>
        </div>
      </div>
    </section>
  </div>

  <go-to-top-button></go-to-top-button>
  <back-button></back-button>