<h4 class="d-flex pt-3 pb-2 justify-content-center">Статистика тексту</h4>
<table class="table">
    <thead class="lighten-2">
      <tr>
        <th scope="col">Показник</th>
        <th scope="col">Значення</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Кількість символів</th>
        <td>Mark</td>
      </tr>
      <tr>
        <th scope="row">Кількість символів без пробілів</th>
        <td>Jacob</td>
      </tr>
      <tr>
        <th scope="row">Кількість слів</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">Кількість речень</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">Кількість унікальних слів</th>
        <td>Mark</td>
      </tr>
      <tr>
        <th scope="row">Кількість значимих слів</th>
        <td>Jacob</td>
      </tr>
      <tr>
        <th scope="row">Кількість стоп-слів</th>
        <td>Larry</td>
      </tr>
      <tr>
        <th scope="row">Вода</th>
        <td>Mark</td>
      </tr>
      <tr>
        <th scope="row">Класична нудота документу</th>
        <td>Jacob</td>
      </tr>
      <tr>
        <th scope="row">Академічна нудота документу</th>
        <td>Larry</td>
      </tr>
    </tbody>
  </table>

<h4 class="d-flex pt-3 pb-2 justify-content-center">Семантичне ядро</h4>
<table class="table">
    <thead class="lighten-2">
      <tr>
        <th scope="col">Слово</th>
        <th scope="col">Кількість</th>
        <th scope="col">Частота</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">***</th>
        <td>Mark</td>
        <td>Mark</td>
      </tr>
    </tbody>
  </table>

  <h4 class="d-flex pt-3 pb-2 justify-content-center">Слова</h4>
  <table class="table">
      <thead class="lighten-2">
        <tr>
          <th scope="col">Слово</th>
          <th scope="col">Кількість</th>
          <th scope="col">Частота</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">***</th>
          <td>Mark</td>
          <td>Mark</td>
        </tr>
      </tbody>
    </table>

    <h4 class="d-flex pt-3 pb-2 justify-content-center">Стоп-слова</h4>
    <table class="table pb-2">
        <thead class="lighten-2">
          <tr>
            <th scope="col">Слово</th>
            <th scope="col">Кількість</th>
            <th scope="col">Частота</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">***</th>
            <td>Mark</td>
            <td>Mark</td>
          </tr>
        </tbody>
      </table>

<go-to-top-button></go-to-top-button>