<div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/j5YRLjs/MOBA-423.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Усмішка і посмішка</h3>
          <p class="text-muted">Усмішка – особливий порух м’язами обличчя (губ, очей), який показує схильність до сміху або виражає привіт, задоволення тощо.</p>
          <p class="text-muted">Посмішка – особливий вираз обличчя (губ, очей), що виражає глузування, іронічне ставлення до когось, чогось тощо.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/xh0YVxM/MOBA-419.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Горілиць і долілиць</h3>
          <p class="text-muted">Приклади вживання: «Семен лежав горілиць, звертаючись із своїми питаннями до неба» (Михайло Коцюбинський); «Василь спав на животі, долілиць, сховавши обличчя в долонях» (Павло Загребельний).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/rGbYvzQ/Mova-304.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Освічений, досвідчений, обізнаний</h3>
          <p class="text-muted">Запам’ятайте! В українській мові немає слів: «освітчений», «освідчений», «освідченний»... Натомість є такі:</p>
          <p class="text-muted">Освічений (рос. «образованный») – який має освіту, грамотний.</p>
          <p class="text-muted">Досвідчений (рос. «опытный») – який має великий досвід у певній галузі, життєвий досвід.</p>
          <p class="text-muted">Обізнаний (рос. «осведомленный») – який добре ознайомлений із чимось.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/GQWjj2H/MOBA-400.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Туристичний і туристський</h3>
          <p class="text-muted">Туристичний – який стосується туризму, подорожей.</p>
          <p class="text-muted">Туристський – який стосується туриста, туристів, призначений для туристів.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/M90Y4kW/MOBA-402.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Богатир і багатир</h3>
          <p class="text-muted">Богати́р - оспіваний у народній творчості герой, хоробрий воїн - людина-велетень з надзвичайною силою і відвагою.</p>
          <p class="text-muted">Багати́р - той, хто має багатство; багата людина</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/rZK2kMv/MOBA-399.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Музичний і музикальний</h3>
          <p class="text-muted">Музичний – який стосується музики як виду мистецтва; обслуговує потреби осіб, які пов’язані з музикою.</p>
          <p class="text-muted">Музикальний – обдарований здатністю точно сприймати музику, відчувати й виконувати музичні твори; мелодійний.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/VQsbfmj/Mova-395.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Задача і завдання</h3>
          <p class="text-muted">Завдання – наперед визначений обсяг робіт; якесь доручення; те, що хочуть здійснити тощо. </p>
          <p class="text-muted">Задача – питання переважно математичного характеру, яке розв’язується шляхом обчислень за визначеною умовою.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/7XrYyQW/Mova-283.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Паливо і пальне</h3>
          <p class="text-muted">Паливо – горюча речовина (дрова, вугілля, нафта, газ тощо), яка використовується для одержання теплової енергії, тепла: природне паливо, ракетне паливо, економія палива. Прикметник: паливний.</p>
          <p class="text-muted">Пальне – паливо для двигунів внутрішнього згоряння (бензин, солярка, нафта, газ тощо): високоякісне пальне, дизельне пальне, заправити бак пальним. Прикметник: пальний.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/WFZC4Lf/Mova-371.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Сніговий і сніжний</h3>
          <p class="text-muted">Сніговий – покритий снігом, утворений зі снігу, який несе сніг; складова частина ботанічних і зоологічних назв. </p>
          <p class="text-muted">Сніжний – багатий на сніг, подібний до снігу; покритий снігом.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/XC4ksDn/MOBA-357.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Виголошувати, оголошувати, проголошувати</h3>
          <p class="text-muted">Виголошувати – прилюдно виступати з промовою, доповіддю, вимовляти якісь фрази.</p>
          <p class="text-muted">Оголошувати – публічно заявляти про що-небудь, робити відомим, офіційно визнавати; офіційно заявляти про початок чого-небудь.</p>
          <p class="text-muted">Проголошувати – декларувати. </p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/YpP2802/Mova-350.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Лі́карський, ліка́рський, лікарня́ний</h3>
          <p class="text-muted">Лі́карський – який стосується лікаря і його діяльності.</p>
          <p class="text-muted">Ліка́рський – який стосується ліків.</p>
          <p class="text-muted">Лікарня́ний – який стосується лікарні.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/v138d99/MOBA-348.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Писемність і письменність</h3>
          <p class="text-muted">Писемність – система графічних знаків, які вживають для писання в якійсь мові або групі мов; сукупність давніх писемних пам'яток якоїсь мови.</p>
          <p class="text-muted">Письменність – уміння читати й писати; грамотність.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/hsQH3Qy/Mova-342.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Корисний і корисливий</h3>
          <p class="text-muted">Корисний – який приносить або здатен приносити користь, дає добрі наслідки: корисний досвід, корисний підручник, корисна монографія, корисна рослина, корисна комаха, корисна праця, корисна порада, корисні зауваження.</p>
          <p class="text-muted">Корисливий – який прагне до власної вигоди, робить заради наживи: корисливий чоловік, корислива дівчина, мати корисливі цілі, робити щось з корисливих міркувань.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/tcsj92W/Mova-313.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Нервувати й нервуватися</h3>
          <p class="text-muted">Борис Антоненко-Давидович:</p>
          <p class="text-muted">«Нервувати людину може хтось інший, а не вона саму себе: «Особливо це чомусь нервувало, непокоїло Никанора» (Іван Ле). Коли треба висловитися, що людина перебуває в збудженому, нервовому стані, тоді слід послугуватись дієсловом нервуватися: «Руднєв щогодини запитував Ковпака про хід роботи і, одержуючи невтішні відповіді, нервувався» (П. Воронько)».</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/jWzY1w7/MOBA-309.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Грати і відігравати роль</h3>
          <p class="text-muted">Грати роль – втілювати образ на сцені, у кінофільмі тощо; удавати з себе когось. </p>
          <p class="text-muted">Відігравати роль – мати значення, вагу. Таким чином, у переносному значенні правильно говорити: відігравати велику роль; мати велику вагу; багато важити (рос. «играть большую роль»).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/Rh8yzpM/MOBA-308.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Вітрови́й, ві́тряний, вітряни́й</h3>
          <p class="text-muted">Вітрови́й – який стосується вітру; викликаний вітром; який захищає від вітру. </p>
          <p class="text-muted">Ві́тряний – 1. наповнений вітром, з вітром; 2. легковажний, безтурботний. </p>
          <p class="text-muted">Вітряни́й – який працює за допомогою вітру; який є наслідком дії вітру.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/5vxVJpt/Mova-287.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Хрещений і хресний</h3>
          <p class="text-muted">Запам’ятайте:</p>
          <p class="text-muted">Хрещений (-а, -і): батько, мати, батьки, діти (хрещеники, похресники, а не хресники).</p>
            <p class="text-muted">Хресний: хід, життєвий шлях.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/8dXfnGM/Mova-285.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">А́тлас і атла́с</h3>
          <p class="text-muted">А́тлас – систематизований збірник географічних чи історичних карт, зображень рослин, тварин, малюнків, таблиць тощо.</p>
          <p class="text-muted">Атла́с – гладенька шовкова або напівшовкова тканина.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/whxtTYv/Mova-281.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Змерзнути і замерзнути</h3>
          <p class="text-muted">Мовознавець Олександр Пономарів:</p>
          <p class="text-muted">«Обидва ці слова походять від одного кореня, проте їх не можна вживати одне замість іншого. Замерзнути означає «стати твердим від холоду, перетворитися на кригу; згинути від холоду»: «Замерзло поле скрізь» (Є. Гребінка); «Там, де верби, тини і тополі, по ночах замерзає вода» (В. Сосюра). А змерзнути — це відчути холод: «Змерзла ж то так, що зуб з зубом не зведе, так і труситься» (Г. Квітка-Основ’яненко).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/PtVQhPR/Mova-279.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Хутровий і хутряний</h3>
          <p class="text-muted">Хутровий – пов'язаний із розведенням звірів, добуванням та обробкою хутра, а також з торгівлею хутром: хутровий звір, хутровий ринок, хутрова промисловість.</p>
          <p class="text-muted">Хутряний – виготовлений, пошитий із хутра: хутряний комір, хутряний одяг, хутряна шапка, хутряні рукавиці.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/BNGwbC3/Mova-277.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Ожеледь і ожеледиця</h3>
          <p class="text-muted">Мовознавці радять розрізняти ці два слова.</p>
          <p class="text-muted">Ожеледь – кристали льоду або снігу, якими обростають стовбури й гілки дерев, дроти тощо: вкриватися ожеледдю, слабка ожеледь уранці.</p>
          <p class="text-muted">Ожеледиця – тонкий шар льоду на поверхні землі: ожеледиця на дорогах, братися ожеледицею.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-5 py-5">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/YRkqj6v/Mova-276.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Дощовитий і дощовий</h3>
          <p class="text-muted">Дощовитий – це «багатий на дощі»: дощовитий день, дощовита осінь, дощовита погода, дощовитий рік.</p>
          <p class="text-muted">Дощовий – відносний прикметник до слова «дощ»: дощова вода, дощові краплини, дощові хмари, дощовий черв’як.</p>
        </div>
      </div>
    </section>
  </div>

  <go-to-top-button></go-to-top-button>
  <back-button></back-button>