<div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/wMHSpYw/Mova-339.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Пускатися берега</h3>
          <p class="text-muted">Пускатися берега – занедбуючи себе, порушувати загальноприйнятні норми моралі, суспільної поведінки. Приклад вживання: «Чіпка – наче таке собі діло вигадав – кожнісінький день гуля та гуля… Зовсім пустився берега…» (Панас Мирний).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/yFXLhWG/Mova-335.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Прихилити небо</h3>
          <p class="text-muted">Приклади вживання: «Гірко було Маланці. От, зростила дитину, берегла, доглядала, рада була неба їй прихилити та зорями вкрити, а тепер оддай між люди на поневіряння» (М. Коцюбинський); «Оленько, кохана моя. Та я радий для тебе сонце прихилити» (М. Зарудний).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/nrx8qRR/Mova-334.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Печені голуби не летять до губи</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">  
            <li class="list-group-item">Щоб рибу їсти, треба у воду лізти. </li>
            <li class="list-group-item">Треба нахилитися, щоб з криниці води напитися.</li>
            <li class="list-group-item">Нікому сама птаха в руки не летить.</li>
            <li class="list-group-item">Не побігаєш — не пообідаєш.</li>
          </ul> 
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/qNwn4Sd/Mova-331.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Ніч-мати дасть пораду</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Ніч додасть розуму.</li>
            <li class="list-group-item">Ранок покаже. </li>
            <li class="list-group-item">Ранок покаже, що вечір не скаже.</li>
            <li class="list-group-item">Завтра буде видніше. </li>
            <li class="list-group-item">Година вранці варта двох увечері.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/T8yLwnJ/MOBA-326.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Мовчати, дотримуватися таємниці</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Відповідати мовчанкою.</li>
            <li class="list-group-item">Грати в мовчанку.</li>
            <li class="list-group-item">Не вимовити і слова.</li>
            <li class="list-group-item">Ні жодним словом не прохопитися.</li>
            <li class="list-group-item">Пари з рота (вуст, уст) не пустити.</li>            
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/J7d4MnW/MOBA-323.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Втратити здатність говорити</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Забути язика в роті.</li>
            <li class="list-group-item">Прикусити язика.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/48RfxT3/MOBA-317.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Дуже багатий</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Через горло лізе.</li>
            <li class="list-group-item">Кишеня бряжчить.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/cCmy1Yb/MOBA-315.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Досвідчена людина</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Дійшлий дядько.</li>
            <li class="list-group-item">Старий лис.</li>
            <li class="list-group-item">Бита голова.</li>       
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/hH34pww/Mova-307.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Потрапити в неприємну ситуацію або скрутне становище</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Попасти на слизьке.</li>
            <li class="list-group-item">Убратися по самісінькі халяви.</li>
            <li class="list-group-item">Ускочити вище халяв.</li>
            <li class="list-group-item">Ускочити по саме нікуди (у нікуди).</li>
            <li class="list-group-item">Ускочити у (в) сливки.</li>
            <li class="list-group-item">Потрапити з огню в полум’я.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/gzLV5Kv/MOBA-300.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Про душевне заспокоєння, полегшення</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Зняти камінь з душі.</li>
            <li class="list-group-item">Гора звалилася з плечей.</li>
            <li class="list-group-item">Камінь скотився з душі.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/JKHS22h/Mova-297.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Критикувати, сварити</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Брати в шори.</li>
            <li class="list-group-item">Протирати (драїти) з пісочком кого.</li>
            <li class="list-group-item">Накручувати хвоста кому.</li>
            <li class="list-group-item">Гречку переганяти.</li>
            <li class="list-group-item">Кидати громи на кого.</li>
            <li class="list-group-item">Давати джосу кому.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/7RLrWqw/Mova-293.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Мало і багато з’їсти</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Кидати на зуб що.</li>
            <li class="list-group-item">Їсти, що аж за вухами лящить.</li>
            <li class="list-group-item">За обидві щоки уминати.</li>
            <li class="list-group-item">Уминати на всі заставки.</li>
            <li class="list-group-item">Уплітати на весь рот.</li>
            <li class="list-group-item">Набивати пельку.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/xLN5V7s/Mova-274.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Фразеологізми зі значенням «плакати»</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Втирати сльози (сльозу).</li>
            <li class="list-group-item">Ронити (роняти) сльози.</li>
            <li class="list-group-item">Сміятися (реготати) на кутні.</li>
            <li class="list-group-item">Пускати патьоки.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/N7scmy1/Mova-272.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Фразеологізми зі значенням «сміятися, реготати»</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Сміятися на кутні.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/d6ry3G8/Mova-269.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Дуже темно й дуже світло</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Хоч око виколи.</li>
            <li class="list-group-item">Хоч оком світи.</li>
            <li class="list-group-item">Таких удень з вогнем пошукати.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/QpqL5ZD/Mova-273.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Говорити улесливо й дошкульно</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Як медом мастити.</li>
            <li class="list-group-item">Як салом по губах мастити.</li>
            <li class="list-group-item">Допікати до живих печінок кого.</li>
            <li class="list-group-item">Зачіпати за болюче місце кого.</li>
            <li class="list-group-item">Кусати за серце.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/0GWTtr5/Mova-267.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Фразеологізми зі значенням «бідний»</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Як мак начетверо.</li>
            <li class="list-group-item">Мов (як, наче) церковна миша.</li>
            <li class="list-group-item">Ні за плечима ні перед очима у кого.</li>
            <li class="list-group-item">І в скрині пусто і в кишені не густо.</li>
            <li class="list-group-item">З голими руками.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/pK7q1K4/Mova-266.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Дрімати, хотіти спати</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Спати на одне вухо.</li>
            <li class="list-group-item">Носом рибу вудити.</li>
            <li class="list-group-item">Давати хропака.</li>
            <li class="list-group-item">Спати сном праведника.</li>
            <li class="list-group-item">Спати без задніх ніг.</li>
            <li class="list-group-item">Спати без пам’яті.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/ZfhkFx5/Mova-256.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Робити швидко або повільно</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Семимильними кроками.</li>
            <li class="list-group-item">З вітерцем.</li>
            <li class="list-group-item">З вітром навзводи.</li>
            <li class="list-group-item">На всіх (повних) парах.</li>
            <li class="list-group-item">На повних парусах.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/ZzN1KRc/Mova-257.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Швидко бігти, тікати</h3>
          <p class="text-muted">Додаткові варіанти:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Давай (дай) бог (боже) ноги.</li>
            <li class="list-group-item">Показувати спину (потилицю).</li>
            <li class="list-group-item">Мазати п’яти (п’ятки) салом.</li>
          </ul>
        </div>
      </div>
    </section>
  </div>
  

  <go-to-top-button></go-to-top-button>