.s1 {
    font-size: xxx-large;
    font-weight: bold;
    font-style: italic;
    color: #e67300;
}

.s2 {
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    color: #ff8000;
}

.s3 {
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    color: #ff8c1a;
}

.s4 {
    font-size: large;
    font-weight: bold;
    font-style: italic;
    color: #ff9933;
}

.s5 {
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    color: #f85041;
}