<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [interval]="'10000'">
  <mdb-carousel-item>
    <img class="d-block img-fluid" src="https://i.ibb.co/THVtDrJ/image.png" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block img-fluid" src="https://i.ibb.co/KwDJ03x/image.png" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block img-fluid" src="https://i.ibb.co/KwDJ03x/image.png" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>