<div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/SBFZBzK/MOBA-442.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «течія»</h3>
          <p class="text-muted">Приклади вживання: «І шумлять, і дзвенять їх пісні над невпинною течією Дніпра-Славути, як голос правди, і слави...» (Максим Рильський); «Річка була тут вузенька, течія бистра, човен несло швидко» (Ярослав Гримайло).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/fnq09Ms/MOBA-381.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Водохреще</h3>
          <p class="text-muted">Приклади вживання: «- Пішла [челядка], хрести всюди на водохреще пописала, скотину покропила» (Ганна Барвінок).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/xXJbgKw/Mova-397.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Великдень</h3>
          <p class="text-muted">«Кулічі» у Росії, а в нас смачні пасочки!</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/BP6k9FC/MOBA-485.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «центнер»</h3>
          <p class="text-muted">Приклади вживання: «А то вже щось та значить, коли колгоспник почав рахувати, який зиск дає нині гектар землі, скільки коштує центнер пшениці й літр молока» (Василь Кучер); «У Ганни Денисівни побували ми і вдома, і на її трьох гектарах, де вона сіяла буряки, щоб дати по 800 центнерів з гектара» (Остап Вишня).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/pKxkfLP/MOBA-483.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «рукопис»</h3>
          <p class="text-muted">Приклади вживання: «Прислати рукописи не можу, бо дещо не викінчено» (Михайло Коцюбинський); «Засилаю Вам разом з оцим листком Ваш рукопис» (Панас Мирний).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/DG96NzQ/MOBA-481.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «металургія»</h3>
          <p class="text-muted">Приклади вживання: «Чорна металургія дає основний матеріал, з якого роблять машини та інші знаряддя виробництва» (Ек. геогр. СРСР); «"Запоріжсталь" - завод-велетень, гордість радянських п'ятирічок, або, як його ще називають, - перлина радянської металургії» (Остап Вишня).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/Ry5mrKZ/MOBA-479.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «вільха»</h3>
          <p class="text-muted">Приклади вживання: «Верхи вільх та верб у лузі горіли червоним світлом» (Іван Нечуй-Левицький); «В понижених місцях балок росте окремими групами чорна, або клейка, вільха» («Парк «Олександрія»).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/1zhYBXR/MOBA-478.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «бюлетень»</h3>
          <p class="text-muted">Приклади вживання: «Ми на відпочинку. Стежимо за інформаційними бюлетенями» (Василь Кучер).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/bNLLp2d/MOBA-476.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «щипці»</h3>
          <p class="text-muted">Приклади вживання: «Панночка сиділа коло вікна за столиком перед дзеркалом, на столику горіла спиртова лампочка і грілися щипці для завивання волосся» (Леся Українка); «- Грійте воду! - скомандував лікар.- Зіно, мий руки! Щипці, вата, бинт» (Оксана Іваненко); «Торти розкладають на десертні тарілочки лопаточками, а пиріжки і печиво – щипцями» («Укр. страви»).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/PWTWkHV/MOBA-472.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «безготівковий»</h3>
          <p class="text-muted">Приклади вживання: «Завод будівельних матеріалів продає колгоспам ходи парокінні за готівку і за безготівковим розрахунком» («Радянська Україна»).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/JCMFmyX/MOBA-468.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «ветеринарія»</h3>
          <p class="text-muted">Ветерина́рія - комплекс наук про будову тваринного організму, його життєдіяльність, способи запобігання хворобам тварин і їх лікування; лікування і профілактика хвороб свійських тварин.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/n8892nM/MOBA-465.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у словах «донька» і «дочка»</h3>
          <p class="text-muted">Приклади вживання: «Лесиха, сказано, запопадна, перша йде зажинати з донькою і невісткою» (Іван Франко); «- Оце вона і є Горпинка, удови Явдохи Гопти донька, — пояснив рудобородий» (Олесь Донченко).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/R94Zhvx/MOBA-463.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «Фейсбук»</h3>
          <p class="text-muted">Фейсбу́к (англ. Facebook) — найбільша у світі соціальна мережа, що почала працювати 4 лютого 2004 року як мережа для студентів деяких американських університетів. Засновником та головою сервісу є Марк Цукерберг.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/2cbQkys/MOBA-461.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «український»</h3>
          <p class="text-muted">Приклади вживання: «Впливи народної української пісні, Шевченка, Гоголя — це основні, здається, впливи, під якими я сформувався як український письменник» (Вас., IV); «Мати підносила гостям горілку. За добрим українським звичаєм гості відмовлялися, а мати ласкаво припрошувала» (Олександр Довженко).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/b5W327z/MOBA-460.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «руно»</h3>
          <p class="text-muted">Приклади вживання: «- А хіба ж не радується душа, коли острижеш барана, а на ньому руно!.. Таке руно, що розкинеш і - на весь сарай!» (Олесь Гончар); «Туман розвіявся, як дим, тільки де-не-де останні його волохаті руна танули в бузкових ущелинах» (Олесь Донченко)</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/YbXv41T/MOBA-451.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «ваги»</h3>
          <p class="text-muted">Приклади вживання: «На піддашші біля комори – ваги» (Андрій Головко); «Автомашина з кукурудзою після зважування на автоматичних двадцятитонних вагах під'їжджає до приймального бункера» («Колг. Укр.»).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/ZdKbGNt/MOBA-452.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «соломинка»</h3>
          <p class="text-muted">Приклади вживання: «Одні [бджоли] лазили по кориту, другі сиділи на соломинках» (Панас Мирний); «Дідусь було з кисличок дубових чорнило їм робить, соломинкою писати бублички вчить їх було» (Архип Тесленко)</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/FK4nFCh/MOBA-446.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «надлишок»</h3>
          <p class="text-muted">Приклади вживання: «Страшним лихом польського довоєнного села був надлишок робочої сили» («Хлібороб Укр.»); «На селі на початку 1918 р. розгорнулась масова організована конфіскація поміщицьких маєтків, відбирання надлишків землі у куркулів» (Іст. УРСР)</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/fk7kHy5/MOBA-441.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «переляк»</h3>
          <p class="text-muted">Приклади вживання: «Злість, переляк разом струснули немолоді кості вельможного пана, положили його на ліжко» (Панас Мирний); «Небувалий, божевільний переляк охопив мене ціпко, і я перший раз в житті почув себе безсилим, безпорадним і страшенним боягузом» (Мирослав Ірчан)</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/wQH1TfV/MOBA-444.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «форзац»</h3>
          <p class="text-muted">Приклади вживання: «В цій книжці [«Пісні братерства»] заслуговує похвали.. майстерно виконаний форзац із золотим лінійним рослинним орнаментом на зеленому фоні» (Укр. рад. граф., 1957, 119).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/18CjkjX/MOBA-435.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «цінник»</h3>
          <p class="text-muted">Приклади вживання: «Отець Миколай під’їжджає до берега, вголос читає цінник, сміється:— І ти вже, Кузьмо, в комерцію кинувся?» (Михайло Стельмах).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/5k5FhqR/MOBA-433.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «жалюзі»</h3>
          <p class="text-muted">Приклади вживання: «Вже спущені матово-жовті жалюзі в кімнаті попрорізувались жовтогарячими смужками від низького сонця» (Леся Українка); «На багатьох крамницях жалюзі закривали вітрини» (Оксана Іваненко).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/rp2jWSH/MOBA-416.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «гуртожиток»</h3>
          <p class="text-muted">Приклади вживання: «Він писав, що кінчає курси і невдовзі приїде додому, але житиме вже не дома, а в МТС в гуртожитку» (Ігор Муратов).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/xfgZf3q/MOBA-473.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «паливода»</h3>
          <p class="text-muted">Приклади вживання: «Мені до уст сьогодні донесли — Один паливода (і цар перехрестився) На трьох жінках женився» (Євген Гребінка); «Учителька вже знає — не виконав домашніх завдань, пробайдикував на лижах Макарець... Такий уже він паливода — здібний, але ж непосидючий, до науки не дуже охочий» (Юрій Збанацький).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-5 py-5">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/1QwtHBD/MOBA-471.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Наголос у слові «холоднеча»</h3>
          <p class="text-muted">Приклади вживання: «У степу навіть бійці-сибіряки, звиклі до суворих сибірських зим, найбільше потерпали не від чого іншого, як від лютої оцієї холоднечі, від безсніжної таврійської зими з її пронизливими вітрами» (Олесь Гончар); «Птиці кричать уночі… Що жене їх так рано в таку холоднечу, в хуртовину таку запізнілу́» (Олександр Довженко).</p>
        </div>
      </div>
    </section>
  </div>

  <go-to-top-button></go-to-top-button>
  <back-button></back-button>