<div class="py-3">
  <div class="alert alert-danger" role="alert">
    <h4>Flesch-Kincaid</h4>
    <hr>
    <b>Рівень читабельності: </b>{{readability.fleschKincaid.index}}
    <br>
    <b>Аудиторія: </b>{{readability.fleschKincaid.auditory}}
  </div>
  <div class="alert alert-warning" role="alert">
    <h4>Coleman-Liau index</h4>
    <hr>
    <b>Рівень читабельності: </b>{{readability.colemanLiau.index}}
    <br>
    <b>Аудиторія: </b>{{readability.colemanLiau.auditory}}
  </div>
  <div class="alert alert-info" role="alert">
    <h4>Dale-Chale readability formula</h4>
    <hr>
    <b>Рівень читабельності: </b>{{readability.daleChall.index}}
    <br>
    <b>Аудиторія: </b>{{readability.daleChall.auditory}}
  </div>
  <div class="alert alert-success" role="alert">
    <h4>Automated Readability Index</h4>
    <hr>
    <b>Рівень читабельності: </b>{{readability.ari.index}}
    <br>
    <b>Аудиторія: </b>{{readability.ari.auditory}}
  </div>
  <div class="alert alert-secondary" role="alert">
    <h4>SMOG</h4>
    <hr>
    <b>Рівень читабельності: </b>{{readability.smog.index}}
    <br>
    <b>Аудиторія: </b>{{readability.smog.auditory}}
  </div>
</div>