<div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/KXxRBrN/MOBA-434.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Приступили чи стали до роботи?</h3>
          <p class="text-muted">Варіанти перекладу: братися, узятися до праці (до роботи); починати, почати (розпочинати, розпочати) роботу (працю); заходитися коло роботи.</p>
          <p class="text-muted">Якщо йдеться про обговорення, то можна сказати: розпочати обговорювати (обмірковувати), розглядати що; почати обговорення, розгляд чого; заходжуватися, заходитися обмірковувати, розглядати що.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/hK687g6/MOBA-427.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Благополуччя чи добробут?</h3>
          <p class="text-muted">Приклади вживання: «Федір належав до тих людей, що найменше дбають про свій власний добробут» (Микола Руденко); «Жили ми при достатку, всього було доволі» (Марко Вовчок); «Сердечно бажаю Вам здоров'я та всякого гаразду» (Михайло Коцюбинський).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/mbCpCm0/MOBA-437.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Не в стані чи не в силі?</h3>
          <p class="text-muted">Ще українською можна сказати: не годен, не спроможний.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/V3jXBWD/MOBA-420.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Речі для немовлят українською</h3>
          <p class="text-muted">Дурник, смочо́к, пи́пка, мізю́к (а не «пустишка»), брязкальце (а не «погрємушка»), пелюшка, сповито́к (а не «пельонка»), пляшечка (а не «бутилочка»), дитячий візочок (а не «дєтська каляска»), ліжечко (а не «кроватка»).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/W2q5ySq/MOBA-408.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Виступаючий чи промовець?</h3>
          <p class="text-muted">Мовознавці радять уникати активних дієприкметників теперішнього часу, оскільки вони не властиві українській мові. Активні дієприкметники теперішнього часу – це дієприкметники, що закінчуються на -ачий, -ячий, -учий, -ючий (бачачий, спляча, слабнучий, читаючий).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/L00DYSP/Mova-398.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">У якості українською</h3>
          <p class="text-muted">Російський вислів «в качестве жениха» (руководителя, учителя, друга) українською перекладаємо так: як жених(а), керівник(а), учитель(ля), друг (друга). Крім того, в офіційно-діловому спілкуванні можна сказати: у ролі, у функції, у ранзі. </p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/Jvh0LFb/Mova-391.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">На кухні українською. Частина 1</h3>
          <p class="text-muted">Глечик (а не «кувшин»), дощечка (а не «досточка»), виделка (а не «вилка»), ніж (а не «нож»), друшляк (а не «друшлаг»).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/ZdfZvqt/Mova-392.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">На кухні українською. Частина 2</h3>
          <p class="text-muted">Ополоник (а не «половник»), склянка (а не «стакан»), сільниця (а не «солонка»), серветка (а не «салфєтка»), тарілка (а не «тарєлка»).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/BzM6G2F/MOBA-394.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">На кухні українською. Частина 3</h3>
          <p class="text-muted">Цукорниця (а не «сахарниця»), чашка (а не «кружка»), тертушка (а не «тьорка»), кавник (а не «кофейник»), таця (а не «поднос»).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/R9nQJvP/Mova-389.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Солодощі українською</h3>
          <p class="text-muted">Цукерки (а не «канфєти»), тістечко (а не «пирожене»), льодяник (а не «леденець»), морозиво (а не «морожене»), пластівці (а не «хлоп’я»).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/yhy22n3/MOBA-388.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Халатне відношення чи недбале ставлення?</h3>
          <p class="text-muted">В українській мові слова «халатне відношення» немає!</p>
          <p class="text-muted">Згідно з правилами української мови правильно буде так:</p>
          <ul class="text-muted list-group list-group-flush">  
            <li class="list-group-item">недбале ставлення</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/7YdZBs0/MOBA-387.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Гриби українською мовою</h3>
          <p class="text-muted">Глива (а не «вешенка», «вішенка»), маслюк (а не «масльонок»), печериця (а не «шампіньйон»), підосичник (а не «підосиновик»).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/cNr1DJH/MOBA-386.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Не по собі чи ніяково?</h3>
          <p class="text-muted">Залежно від ситуації скалькований вислів «не по собі» варто замінити на:</p>
            <ul class="text-muted list-group list-group-flush">
              <li class="list-group-item">почувати себе ніяково, незручно</li>
              <li class="list-group-item">ні в сих ні в тих</li>
              <li class="list-group-item">моторошно</li>
              <li class="list-group-item">недобре, зле</li>
            </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/pzrRLWD/MOBA-383.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Білизна нижня чи спідня?</h3>
          <p class="text-muted">Виразу “нижня білизна” в українській мові немає.</p>
          <p class="text-muted">Правильний український вираз – “спідня білизна“.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/y5NwXpn/Mova-382.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Горбушка чи цілушка?</h3>
          <p class="text-muted">А ще можна сказати: окра́єць, окра́йчик.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/PGC3w3g/Mova-378.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Прибрати толком чи до пуття</h3>
          <p class="text-muted">Крім того, ще можна сказати: робити (говорити) до ладу, ладом, з розумом.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/mCp586k/Mova-377.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Брюки чи штани? Рубашка чи сорочка?</h3>
          <p class="text-muted">В українській мові слів «рубашка» і «брюки» немає!</p>
          <p class="text-muted">Згідно з правилами української мови правильно буде так:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">сорочка і штани</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/4TcYszL/Mova-376.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Країни українською мовою</h3>
          <p class="text-muted">Азербайджан (а не «Азейбаржан» чи «Азербайжан»), Білорусь (а не «Білорусія» чи «Бєлорусь»), Туреччина (а не «Турція»), Словаччина (а не «Словакія»), Німеччина (а не «Германія»), Угорщина (а не «Венгрія»).</p>
        </div>
      </div>
    </section>
  </div>
  
  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/WH18thG/MOBA-373.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Страсний і пристрасний</h3>
          <p class="text-muted">Страсний (рос. страстной) – який стосується тижня перед Великоднем: тиждень, п’ятниця, свічка.</p>
          <p class="text-muted">Пристрасний (рос. страстный) – дуже сильний, нестримний: почуття, кохання, поцілунок. Синоніми – палкий, шалений.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/vwRvTg0/MOBA-369.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Творог чи сир?</h3>
          <p class="text-muted">Слова «творог» в українській мові немає. Російське «творог» українською мовою - сир. А російське «сыр» – твердий сир.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/BnFKZ2V/MOBA-407.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Купол чи баня?</h3>
          <p class="text-muted">Олександр Пономарів:</p>
          <p class="text-muted">«На позначення поняття «опуклий дах у формі півкулі» в українській мові існують такі назви: баня, маківка, склепіння, шатро, уживані в прямому й переносному значенні: «Підійшли ближче, побачили верховини церков — і з золотими банями, і з блакитними» (Панас Мирний); «Високі крислаті верби зеленою банею нависли над вуличкою» (М. Коцюбинський); «Сонце зачервонило маківки церков» (О. Гончар).</p>
        </div>
      </div>
    </section>
  </div>

  <go-to-top-button></go-to-top-button>