<header>
  <div class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg border-bottom box-shadow mb-3'>
    <div class="container">
      <a class="navbar-brand desk">
        <img src="https://i.ibb.co/y6LYQy4/logos.png" alt="logo" height="85" [routerLink]='[""]'>
      </a>
      <a class="navbar-brand smrt">
        <img src="https://i.ibb.co/PWsWFMx/logo-smartphone.png" alt="logo" height="85" [routerLink]='[""]'>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav d-flex">
          <li class="nav-item btnalg" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <button type="button" class="btn btn-outline-brown" mat-raised-button [routerLink]='["/text-analyser"]'>Аналіз тексту</button>
          </li>
          <li class="nav-item btnalg" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <button type="button" class="btn btn-outline-amber" mat-raised-button [routerLink]='["/gallery"]'>Галерея</button>
          </li>
          <li class="nav-item btnalg" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <button type="button" class="btn btn-outline-deep-orange" mat-raised-button [routerLink]='["/speak-correctly"]'>Говоримо правильно</button>
          </li>
          <li>
            <button class="btn peach-gradient"><i class="fas fa-question"></i></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
