header {
  background-color: #ffe0b6;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

i {
  color: #b98608;
}

@media (min-width: 769px) {
  .smrt {
    display: none;
  }
}

@media (max-width: 768px) {
  .desk {
    display: none;
  }
  .btnalg {
    display: flex;
    justify-content: center;
    padding-top: 0.2rem;
    padding-left: 0rem !important;
  }
}