<div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/LPgJx52/MOBA-351.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Відмінювання слова «пальто»</h3>
          <p class="text-muted">В українській мові слово «пальто» відмінюється.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/HgK3r89/Mova-290.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Милозвучність: З, ІЗ, ЗІ, ЗО. Частина 1</h3>
          <p class="text-muted">Звуки в мовному потоці поєднуються не будь-як, а за певними, властивими даній мові правилами, законами.</p>
          <p class="text-muted">Звуки в словах та реченнях організовуються так, щоб їх було легко вимовляти і щоб вони були розбірливі для того, хто слухає. Це одна з найважливіших умов милозвучності мови.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/Y3PTtVZ/Mova-291.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Милозвучність: З, ІЗ, ЗІ, ЗО. Частина 2</h3>
          <p class="text-muted">Наша українська мова недарма співоча і солов’їна! Все через те, що вона така милозвучна. Саме чергування голосних і приголосних забезпечує таке її звучання.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/q1cv4kr/Mova-260.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Кримськотатарський</h3>
          <p class="text-muted">Складні прикметники, утворені від сполучення іменника та узгоджуваного з ним прикметника, пишуться РАЗОМ. </p>
          <p class="text-muted">Приклади: загальноосвітній (загальна освіта), легкоатлетичний (легка атлетика), сільськогосподарський (сільське господарство), східнослов'янський (східні слов'яни), кримськотатарський (кримські татари).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/FwrWjYS/Mova-253.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Сильний накип чи сильна накип?</h3>
          <p class="text-muted">Приклади вживання: «Чайник був давно вичищений. Рубін поздирав долотом увесь накип всередині» (Іван Сенченко); «Після тривалого користування кип'ятильником на його спіралі утворюється накип» («Монтаж і ремонт»).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/Z6L5STk/Mova-236.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Безконтактно чи бесконтактно?</h3>
          <p class="text-muted">Безконтактний - який здійснюється на відстані, без безпосереднього контакту з об'єктом.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/L1Cc01K/Mova-233.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">У Львів, до Львову чи до Львова</h3>
          <p class="text-muted">Ви ще маєте сумніви, як правильно говорити: «Я їду у Львів», «Я їду до Львова» чи «Я їду до Львову»?</p>
          <p class="text-muted">Ось що про це писав Борис Антоненко-Давидович:</p>
          <p class="text-muted">«Узагалі, коли мовиться про рух у напрямі міста, села, селища, тоді треба ставити прийменник до: «Через кілька днів Ковпак вилетів до Москви» (П. Вершигора); коли йдеться про дію чи перебування в чомусь, тоді слід користуватися прийменником у (в): «У Києві на риночку ой пив чумак горілочку» (народна пісня).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/8c9h0cp/Mova-227.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">По складах чи по складам?</h3>
          <p class="text-muted">Борис Антоненко-Давидович: «Під впливом російської мови помилково ставлять у місцевому відмінку множини іменників закінчення -ам, -ям, а не -ах, -ях; «рахує по пальцям», «читає по складам», «мандрує по горам і долинам». Українська граматика вимагає в цих і аналогічних випадках ставити закінчення -ах, -ях: по пальцях, по складах, по горах і долинах».</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/x7F23Vd/Mova-51.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Надворі й на дворі</h3>
          <p class="text-muted">Не плутайте:</p>
          <p class="text-muted">Надворі – поза приміщенням, на повітрі. Приклади: «Надворі стемніло» (Панас Мирний); «Надворі дощ шумить і плеще...» (В. Сосюра).</p>
          <p class="text-muted">На дворі – іменник з прийменником. Приклад: «Де в тих сиріт безталанних добро теє бралось? І в коморі, і на дворі, на току й на ниві» (Т. Шевченко).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/HnG2L9W/Mova-01.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Будь ласка</h3>
          <p class="text-muted">Вигук «будь ласка» потрібно писати окремо й виділяти з обох боків комами.</p>
          <p class="text-muted">Приклад: «Прочитай, будь ласка, наступне речення».</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/nP8JRs2/Mova-10.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">До речі</h3>
          <p class="text-muted">Якщо прислівник утворено за допомогою прийменника й іменника, який зберігає своє лексичне значення та граматичну форму, то він пишеться окремо.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/y4vS17M/Mova-59.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Префікс С- перед літерами К, П, Т, Ф, Х</h3>
          <p class="text-muted">Є ще такі варіанти для запам’ятовування:</p>
          <ul class="text-muted list-group list-group-flush">
            <li class="list-group-item">Тихо Ходить Кіт По Фабриці</li>
            <li class="list-group-item">Казав Петро: «Треба фарбувати хату».</li>
            <li class="list-group-item">Коли Підеш Ти Фарбувати Хату</li>
            <li class="list-group-item">Коли Ти Федоре Перестанеш Хворіти</li>
            <li class="list-group-item">Тато Купив Петрику Фотоапарат «Харків»</li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/KDvc5Cj/Mova-70.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">На добраніч!</h3>
          <p class="text-muted">Зверніть увагу: побажання «на добраніч» пишеться окремо!</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/FxgYnzs/Mova-04.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">На жаль</h3>
          <p class="text-muted">Якщо прислівник утворено за допомогою прийменника й іменника, який зберігає своє лексичне значення та граматичну форму, то він пишеться окремо. Особливо, якщо між прийменником та іменником можна вставити прикметник. Приклади: на (превеликий) жаль, без (будь-якого) відома, без (особливого) наміру.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/4WCWH17/Mova-97.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Жовтогарячий</h3>
          <p class="text-muted">Назви відтінків і поєднання кольорів пишемо через дефіс: чорно-білий, яскраво-ліловий, блідо-рожевий, жовтувато-червоний, фіолетово-сірий, біло-блакитний (але жовтогарячий – назва кольору).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/YPQmhbk/Mova-134.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Чергування У і В</h3>
          <p class="text-muted">Милозвучність (евфонія) – здатність мови до мелодійного, гармонійного звучання. Поширеною є думка про те, що українська мова – одна з найбільш милозвучних у світі. Щодо неї часто вживають епітети – солов’їна, співоча, калинова та ін.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/NLsvvLx/Mova-136.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Віч-на-віч</h3>
          <p class="text-muted">Через дефіс пишуться складні прислівники, утворені повторенням слова або основи без службових слів або зі службовими словами між ними</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/5M6MR3K/Mova-146.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Напам’ять і на пам’ять</h3>
          <p class="text-muted">Напам’ять – прислівник, який означає «з пам’яті, не дивлячись у текст».</p>
          <p class="text-muted">На пам’ять – іменник із прийменником.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/0yX9nSF/Mova-149.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Чергування І, Й, ТА</h3>
          <p class="text-muted">Ефект милозвучності у мовах зазвичай пов’язують з особливостями артикуляції: звуків і звукосполучень; слів і словосполучень, спрощення звуків у групах приголосних при словозміні, уникнення збігу двох і більше голосних звуків у словах іншомовного походження, фраз і їх сполучень.</p>
        </div>
      </div>
    </section>
  </div>

  <go-to-top-button></go-to-top-button>