<div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/KXxRBrN/MOBA-434.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Приступили чи стали до роботи?</h3>
          <p class="text-muted">Як перекласти російський вислів «приступить к работе»?
            Інші варіанти перекладу: братися, узятися до праці (до роботи); починати, почати (розпочинати, розпочати) роботу (працю); заходитися коло роботи.
            Якщо йдеться про обговорення, то можна сказати: розпочати обговорювати (обмірковувати), розглядати що; почати обговорення, розгляд чого; заходжуватися, заходитися обмірковувати, розглядати що.
            </p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/KXxRBrN/MOBA-434.png" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Приступили чи стали до роботи?</h3>
          <p class="text-muted">Як перекласти російський вислів «приступить к работе»?
            Інші варіанти перекладу: братися, узятися до праці (до роботи); починати, почати (розпочинати, розпочати) роботу (працю); заходитися коло роботи.
            Якщо йдеться про обговорення, то можна сказати: розпочати обговорювати (обмірковувати), розглядати що; почати обговорення, розгляд чого; заходжуватися, заходитися обмірковувати, розглядати що.
            </p>
        </div>
      </div>
    </section>
  </div>