<div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/rQf5yGj/MOBA-475.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Синоніми слова «абсолютно»</h3>
          <p class="text-muted">Абсолю́тно - цілком, повністю.</p>
            <p class="text-muted">Приклади вживання: «Купатися він [лікар] теж абсолютно забороняє» (Михайло Коцюбинський); «Ніч прозора й абсолютно тиха» (Іван Ле); «Темрява створювала враження абсолютно здичавілої пустелі» (Микола Трублаїні).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/CwCp1Dv/MOBA-484.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Синоніми слова «унікальний»</h3>
          <p class="text-muted">Уніка́льний - надзвичайний у якомусь відношенні; рідкісний, винятковий.</p>
          <p class="text-muted">Приклади вживання: «Всередині собору [Софійського] збереглись всесвітньо відомі софійські фрески та мозаїки, які являють собою унікальну за значенням пам’ятку образотворчого мистецтва XI ст.» (Нариси стародавньої історії УРСР); «Гостям показали справді унікальний витвір - перший глобус місяця з усіма впадинами та рельєфами на його лицевій і тильній стороні» (Іван Волошин).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/Q7gzfQG/MOBA-457.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Синоніми слова «актуальний»</h3>
          <p class="text-muted">Актуальний - важливий для даного часу; який відповідає найважливішим потребам сучасності.</p>
            <p class="text-muted">Приклади вживання: «Звертання до героїчно-історичних тем і мотивів, піднесений тон надавали альманахові [«Русалка Дністровая»] значної на той час громадської актуальності» (Історія української літератури); «Глибоку актуальність п’єс Микитенка зумовлювали його тісний і постійний зв’язок з життям, партійний інтерес до дійсності і розуміння ролі літератури» (Мистецтво).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/6mHtN9D/MOBA-454.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Синоніми слова «оригінальний»</h3>
          <p class="text-muted">Оригіна́льний - який не є копією або підробкою чого-небудь; справжній, автентичний. </p>
          <p class="text-muted">Приклади вживання: «Найвидатніші майстри хореографічного мистецтва створюють свої, оригінальні композиції танців» (Укр. нар. танці); «Джіафер гаряче обороняв потребу оригінальної літератури та перекладів європейських письменників» (Михайло Коцюбинський).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/3dVv005/MOBA-449.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Мжичка</h3>
          <p class="text-muted">Приклади вживання: «Сірий осінній ранок куривсь дрібною мжичкою» (Михайло Коцюбинський); «Дощ у цю хвилину майже припинився, сіялася лише мжичка, заснувавши дрібною сіткою далеку перспективу вулиці» (Юрій Смолич).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/L6Bhp6K/MOBA-448.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Синоніми слова «солідний»</h3>
          <p class="text-muted">Солі́дний - добре зроблений, міцний.</p>
          <p class="text-muted">Приклади вживання: «На пароплав було перетягнено солідний сталевий трос» (Юрій Яновський).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/1sF03Dj/MOBA-447.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Синоніми слова «примітивний»</h3>
          <p class="text-muted">Приміти́вний - який відзначається спрощеністю, збідненістю.</p>
          <p class="text-muted">Приклади вживання: «Літератори, журналісти вже ведуть суперечки про те, якою людина вступить у комунізм. Немало довелося Федорові читати і спрощенських, примітивних статей» (Мушк.).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/cDP8vjW/MOBA-443.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Різнокольоровий</h3>
          <p class="text-muted">Різнокольоро́вий - те саме, що різноба́рвний.</p>
          <p class="text-muted">Приклади вживання: «Простягнуся де-небудь на траві, котра, що твій килим квітчастий,.. горить на сонці різнокольоровими квітами, задивлюся на чудову далину» (Михайло Коцюбинський); «Ліс стояв різнокольоровий, барвистий. Жовте, червоне, руде листя заквітчувало дерева, і дерева красувались одне перед одним» (Оксана Іваненко).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/hK0hxYF/MOBA-429.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Ідеальний</h3>
          <p class="text-muted">Ідеа́льний - ідеально кохати; ідеально грати.</p>
          <p class="text-muted">Приклади вживання: «Товар реально є споживна вартість: його вартісне буття лише ідеально проявляється в ціні, яка виражає його відношення до золота, що протистоїть йому як реальний образ його вартості» (Карл Маркс).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/H43RQcy/MOBA-415.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Банальний</h3>
          <p class="text-muted">Часто вживаєте слово «банальний»? Збагачуйте мову синонімами!</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/0KVYLcQ/Mova-366.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Мама</h3>
          <p class="text-muted">Приклади вживання: «Мама застала доню проти дзеркала в новій рожевій сукенці» (Ірина Вільде); «У дитини заболить пальчик, а у матері серце» (Матвій Номис); «Не раз ридала матінка моя, коли на мене їй жалілись люди» (Іван Франко).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/nskd5dW/Mova-365.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Батько</h3>
          <p class="text-muted">P. S. «Папа» — суржик.</p>
          <p class="text-muted">Приклади вживання: «Виблагай у батька дозвіл побратись — і мій тато пристане на це» (Михайло Коцюбинський); «Синочок дивиться крізь тихий сум на мене: «Як ти змінивсь, татусь! Як схуд...» (Володимир Сосюра).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/Kq812pr/Mova-363.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Вада</h3>
          <p class="text-muted">Ва́да - негативна риса, особливість кого-, чого-небудь; недолік.</p>
          <p class="text-muted">Приклади вживання: «Вказавши хиби й вади  твору, зробите добре діло молодому авторові, а може, й літературі нашій» (Михайло Коцюбинський); «Вона наскрізь бачить усі вади цього сивого діда» (Олесь Донченко).</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/P47DBYJ/Mova-306.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Масляна</h3>
          <p class="text-muted">Українське свято Колодій (Масниця) припадає на останній тиждень перед Великим постом. Інші, менш поширені його назви: Сиропуст, Пущення, Масниця або ж “Бабський тиждень”.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-5 py-5">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/kqZVbrW/Mova-303.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Заважати</h3>
          <p class="text-muted">Заважа́ти - бути на перешкоді кому-, чому-небудь, ставати перешкодою в чому-небудь; перешкоджати.</p>
          <p class="text-muted">Приклади вживання: «Велика батьківська шапка насунулась йому аж на ніс і заважала бачити» (Олександр Довженко); «Зимогор працював хутко і вправно. Вітер йому не заважав» (Олесь Донченко).</p>
        </div>
      </div>
    </section>
  </div>

  <go-to-top-button></go-to-top-button>
  <back-button></back-button>