<mdb-carousel class="carousel slide carousel-fade desk" [animation]="'fade'" [interval]="'10000'">
  <mdb-carousel-item>
    <img class="d-block img-fluid" src="https://i.ibb.co/4SBwd0K/quote-50.png" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block img-fluid" src="https://i.ibb.co/44WZ97H/quote-40.png" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block img-fluid" src="https://i.ibb.co/Y3vGr1J/quote-36.png" alt="Third slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block img-fluid" src="https://i.ibb.co/djVmVYW/quote-33.png" alt="Fourth slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block img-fluid" src="https://i.ibb.co/HYYtRjj/quote-21.png" alt="Fifth slide">
  </mdb-carousel-item>
</mdb-carousel>

<div class="smrt pb-2">
  <img class="d-block img-fluid mb-2" src="https://i.ibb.co/4SBwd0K/quote-50.png" alt="First slide">
  <img class="d-block img-fluid mb-2" src="https://i.ibb.co/44WZ97H/quote-40.png" alt="Second slide">
  <img class="d-block img-fluid mb-2" src="https://i.ibb.co/HYYtRjj/quote-21.png" alt="Third slide">
</div>