<div class="pt-3">
<table class="table">
    <thead class="lighten-2">
      <tr>
        <th scope="col">Слово</th>
        <th scope="col">Варіанти виправлення</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of errors">
        <th scope="row">{{e.word}}</th>
        <td>{{e.replacements}}</td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="errorPercentage >= 15" class="mt-4 pb-3">
    <div class="d-flex justify-content-center mb-0">
      <p class="mb-0">У Вашому тексті багато орфографічних помилок.</p>
      </div>
      <hr style="width:50%; background-color: orange;">
      <div class="d-flex justify-content-center mb-0">
      <p class="mb-0">Рекомендуємо звернутись до розділу <i>"Говоримо правильно"</i></p>
      </div>
  </div>
</div>