<div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/BfwBmR2/Mova-176.jpg" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Щедрик</h3>
          <p class="text-muted">Всесвітньо відома обробка «Щедрик» належить до тих, над якими Микола Леонтович працював майже все життя. Першу її редакцію було написано до 1901–1902 рр., другу редакцію — у 1906—1908 рр., третю — 1914 р., четверту — 1916 р., і, нарешті, п'яту — 1919 р.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/0qtF8JD/Mova-67.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Кольори веселки</h3>
          <p class="text-muted">Як запам'ятати послідовність кольорів веселки українською мовою? Легко!</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/FB77XGt/Mova-53.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Веселка</h3>
          <p class="text-muted">Як запам'ятати послідовність кольорів веселки українською мовою? Легко!</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/0JdYmXh/Mova-172.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Добрий вечір тобі, пане господарю</h3>
          <p class="text-muted">«До́брий ве́чір тобі́, па́не господа́рю» — одна з найвідоміших українських колядок. Є яскравим зразком тісного поєднання релігійної і народної колядкової традиції.</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-4 py-4">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/r4rwBFW/Mova-173.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Нова радість стала</h3>
          <p class="text-muted">«Но́ва ра́дість ста́ла» — одна з найвідоміших українських колядок. Є яскравим зразком тісного поєднання релігійної і народної колядкової традиції. Зокрема, до релігійного змісту доданий характерний для народних колядок побажальний («віншувальний») мотив: «Даруй літа щасливії сего дому господарю».</p>
        </div>
      </div>
    </section>
  </div>

  <div class="container my-5 py-5">
    <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">
      <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="view overlay z-depth-1-half">
            <img src="https://i.ibb.co/kXpyxxT/Mova-174.png" class="img-fluid" alt="image">
          </div>
        </div>
        <div class="col-md-6 mb-4 mb-md-0">
          <h3 class="font-weight-bold pb-2">Маленький Ісусик</h3>
          <p class="text-muted">Маленький Ісусик (Дитятко Ісус) — традиційний дарувальник подарунків дітям на Різдво в Чехії, Словаччині, Хорватії, Угорщині, Австрії, частині Німеччини та Польщі,  в Ліхтенштейні, Швейцарії, Італії, Португалії, південній Бразилії і в місцевості Акадіана штату Луїзіана.</p>
        </div>
      </div>
    </section>
  </div>

  <go-to-top-button></go-to-top-button>
  <back-button></back-button>