<div class="md-form d-flex amber-textarea active-amber-textarea-2">
    <textarea class="scroll md-textarea form-control scrollbar scrollbar-sunny-morning thin" rows="3" id="input_text" type="text" length="1200" mdbCharCounter mdbInput [(ngModel)]="text"></textarea>
    <label for="input_text">Введіть текст</label>
</div>
<div class="d-flex justify-content-end">
    <button type="button" class="btn btn-yellow" (click)="check()">Перевірити</button>
</div>

<ngx-spinner
  bdColor = "rgba(0,0,0,0)"
  size = "large"
  color = "#ffab00"
  type = "ball-climbing-dot"
  [fullScreen] = "true">
</ngx-spinner>

<div *ngIf="seoModel && zipf && errors && map && !showLangError"> 
  <ul class="nav nav-tabs" id="myTab" role="tablist" >
      <li class="nav-item">
        <button class="nav-link " [ngClass]="{active:isOrthography}" (click)="makeActiveTab(1)">Орфографічні помилки</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [ngClass]="{active:isSeo}" (click)="makeActiveTab(2)">Семантичний аналіз</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [ngClass]="{active:isRead}" (click)="makeActiveTab(3)">Читабельність</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" [ngClass]="{active:isZipf}" (click)="makeActiveTab(4)">Закон Ципфа</button>
      </li>
      <li class="nav-item">
          <button class="nav-link" [ngClass]="{active:isMap}" (click)="makeActiveTab(5)">Карта тексту</button>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade" [ngClass]="{show:isOrthography, active:isOrthography}"><orthography-tab [errors]="errors" [errorPercentage]="errorPercentage"></orthography-tab></div>
      <div class="tab-pane fade" [ngClass]="{show:isSeo, active:isSeo}"><seo-tab [seo]="seoModel"></seo-tab></div>
      <div class="tab-pane fade" [ngClass]="{show:isRead, active:isRead}"><read-tab [readability]="seoModel.readability"></read-tab></div>
      <div class="tab-pane fade" [ngClass]="{show:isZipf, active:isZipf}"><zipf-law-tab [zipf]="zipf"></zipf-law-tab></div>
      <div class="tab-pane fade" [ngClass]="{show:isMap, active:isMap}"><map-tab [map]="map" [text]="text"></map-tab></div>
    </div>
</div>
<div *ngIf="showLangError">
  Language error
</div>
<go-to-top-button></go-to-top-button>